<a href="https://colab.research.google.com/github/Jatingpt/ByUpgrad/blob/main/byupg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#input method- take input as a sample 15 and convert into 16 by using input method.
a = int(input())
output = a + 1
print(output)


#to find the location of the variable
x = 34
print(id(x))

15
16
10751912

In this code, integer is assigned the value 10000000000, which is a larger integer. When you print the size of integer using sys.getsizeof(), it returns the value 32 bytes.



We can use the maxsize attribute of the sys module to get the minimum and maximum range of integers.

In [ ]:
#We can get the size of an integer variable using the getsizeof() method of the sys module.
import sys
x = 23
sys.getsizeof(x)


import sys
integer = 10000000000
print("The size of the integer variable is: ", sys.getsizeof(integer), 'bytes')

max_int = sys.maxsize
print(max_int)

min_int = sys.maxsize * -1 - 1
print(min_int)

The size of the integer variable is:  32 bytes
9223372036854775807
-9223372036854775808

Here is a brief summary of what you have learnt in the video above.



Headings

# for the titles
## for the main headings
### for the subheadings
#### for the smaller subheadings
##### for the italic subheadings
Emphasis

__string__ or **string** for bold text
_string_ or *string*  for italic text
Monospace fonts

A back single quotation mark ` on both sides to get monospace fonts
Line breaks

<br> wherever you want a line break, as the notebook sometimes doesn't give you the required line break where you want it
Indenting

> to indent the text
>> for further indenting it, and so on
Bullets and numbering

A single dash, i.e. -  followed by two spaces to make bullet points
A number and a dot followed by a space, i.e. 1. to make numbered lists
Colouring

<font color = blue, yellow, red, pink, green, etc.> String </font> to give your font any colour that you want
LaTeX Equations

$ on both the sides of the text to write LaTeX equations

Command mode shortcuts

Esc: To go into command mode

Enter: To go back to edit mode

M: To convert a cell to a markdown cell

Y: To convert a cell back to a code cell

A: To insert a new cell above

B: To insert a new cell below

D + D: To delete cell

Z: Undo the last operation

F: To find and replace on your code

Shift + Up/Down: To select multiple

Space: Scroll notebook downwards

Shift + Space: Scroll notebook upwards

Edit mode shortcuts

Shift + Enter: To execute the code in the current cell and go to the next cell
Alt + Enter: To execute the code in the current cell and insert a new cell below
Shift + Tab: To get a brief documentation of the object that you have just typed in the coding cell
Ctrl + Shift + -: To split the cell at the cursor
Shift + M: To merge selected cells

##String- We can create string with single or double quotes. Also we can create multiple line string by using triple quotes as well.

In [1]:
s = 'hello'
t= 'hello world'
print(s)
print(t)

hello
hello world

In [5]:
#converting a integer into string and then using it.
age = 24
age_str = str(age)
print('my age is', age_str)

my age is 24

##**string formatting**

In [9]:
name = 'Jatin'
age = 29
print(f'my name is {name} and i am {age} years old.')

goal = 'competition'
year = 2025
print(f'I will clear the {goal}, at any cost in {year}')

my name is Jatin and i am 29 years old.
I will clear the competition, at any cost in 2025