<a href="https://colab.research.google.com/github/Jatingpt/ByUpgrad/blob/main/byupg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#input method- take input as a sample 15 and convert into 16 by using input method.
a = int(input())
output = a + 1
print(output)


#to find the location of the variable
x = 34
print(id(x))

89
90
10751912

In [ ]:
#upg ques
x = int(input())
y = int(input())

output = x^y + (x+y)^(x-y)  #use ** instead of ^

print(output)

3
3
10

In [ ]:
#Write a Python program to take a temperature in degrees Celsius as input from a user and convert it to the Fahrenheit scale.
#Hint: Temperature in Fahrenheit = (Temperature in Celsius )* (9/5) + 32
#Sample Input: -40
#Sample Output: -40.0
a = int(input())
output = a*(9/5)+32
print(output)

In [ ]:
#upg coding ques
var1=5
var2=____(var1)
print(var2)

NameError: name '____' is not defined

In [ ]:
#Tuple


#dictionary functions- get, item, keys, values, copy, setdefault, update, pop, popitem, clear

student_data = {"Name": "Jaiswal", "Age" : 23, "marks" : 73}
student_data

#import the data into json format.
import json
data = json.dumps(student_data)
data

#access the value age from tuple
student_data["Age"]

"

23

In [ ]:
student_data = {"Name": "Jaiswal", "Age" : 23, "marks" : 73}
x = student_data.setdefault("Age", 29)
x

student_data = {"Name": "Jaiswal", "Age" : 23, "marks" : 73}

#write a python program to sort the dictionary.
dic = sorted(student_data)
print(dic)

#write a program where the key and it's squared values.
a = {}
for i in range(1,11):
  a[i] = i*i
print(a)

#write a program to multiply all the items in a dictionary.
product = 1
c = {"a":1, "b":2, "c":3, "d":4}
for i in c:
  product *= c[i]
print(product)

#write a program to sort a dictionary by its key.
c = {"c":1, "b":2, "a":3, "d":4}
sor = sorted(c.keys())
print(sor)

['Age', 'Name', 'marks']
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
24
['a', 'b', 'c', 'd']

In [ ]:
#student_data = {"Name": "Jaiswal", "Age" : 23, "marks" : 73}
student_data.keys()
student_data.values()
student_data.get("Name")
student_data.items()

dict_items([('Name', 'Jaiswal'), ('Age', 23), ('marks', 73)])

In [ ]:
student_data = {"Name": "Jaiswal", "Age" : 23, "marks" : 73}
for i in student_data:
   print(i)

for i in student_data:
  print(student_data[i])

Name
Age
marks
Jaiswal
23
73

In [ ]:
#swaping the elements
a = ["Ross","Rachel","Monica","Joe"]
a[0],a[3] = a[3],a[0]
a

#writing a program to add a new element on second position.

a.insert(1, "Phebie")
a

#write a program to delete a element from the third position.

a.pop(2)
a

#write a program to multiply all numbers from a list.
mul = 1
b = [1,2,3,4,5]
for i in b:
  mul *= i
print(mul)

#write the program to get the largest number from a list.
c = [2,4,5,3,5,3,54,3,632,5,32,644]
print(max(c))
print(min(c))

120
644
2

In [ ]:
a = int(input())
b = int(input())
output = (a+b)/2
print(output)

4
2
3.5

In this code, integer is assigned the value 10000000000, which is a larger integer. When you print the size of integer using sys.getsizeof(), it returns the value 32 bytes.



We can use the maxsize attribute of the sys module to get the minimum and maximum range of integers.

In [ ]:
#We can get the size of an integer variable using the getsizeof() method of the sys module.
import sys
x = 23
sys.getsizeof(x)


import sys
integer = 10000000000
print("The size of the integer variable is: ", sys.getsizeof(integer), 'bytes')

max_int = sys.maxsize
print(max_int)

min_int = sys.maxsize * -1
print(min_int)

The size of the integer variable is:  32 bytes
9223372036854775807
-9223372036854775807

Here is a brief summary of what you have learnt in the video above.



Headings

# for the titles
## for the main headings
### for the subheadings
#### for the smaller subheadings
##### for the italic subheadings
Emphasis

__string__ or **string** for bold text
_string_ or *string*  for italic text
Monospace fonts

A back single quotation mark ` on both sides to get monospace fonts
Line breaks

<br> wherever you want a line break, as the notebook sometimes doesn't give you the required line break where you want it
Indenting

> to indent the text
>> for further indenting it, and so on
Bullets and numbering

A single dash, i.e. -  followed by two spaces to make bullet points
A number and a dot followed by a space, i.e. 1. to make numbered lists
Colouring

<font color = blue, yellow, red, pink, green, etc.> String </font> to give your font any colour that you want
LaTeX Equations

$ on both the sides of the text to write LaTeX equations

Command mode shortcuts

Esc: To go into command mode

Enter: To go back to edit mode

M: To convert a cell to a markdown cell

Y: To convert a cell back to a code cell

A: To insert a new cell above

B: To insert a new cell below

D + D: To delete cell

Z: Undo the last operation

F: To find and replace on your code

Shift + Up/Down: To select multiple

Space: Scroll notebook downwards

Shift + Space: Scroll notebook upwards

Edit mode shortcuts

Shift + Enter: To execute the code in the current cell and go to the next cell
Alt + Enter: To execute the code in the current cell and insert a new cell below
Shift + Tab: To get a brief documentation of the object that you have just typed in the coding cell
Ctrl + Shift + -: To split the cell at the cursor
Shift + M: To merge selected cells

##String- We can create string with single or double quotes. Also we can create multiple line string by using triple quotes as well.

In [ ]:
s = 'hello'
t= 'hello world'
print(s)
print(t)

hello
hello world

In [ ]:
#converting a integer into string and then using it.
age = 24
age_str = str(age)
print('my age is', age_str)

my age is 24

##**string formatting**

###**f-strings(f'{}')**
### In this example, the variables name and age are directly inserted into the string using f-string formatting.

###**The .format() function**

The .format() function is a built-in string function for string formatting. .format() and f-strings (formatted string literals) are both used in Python for string formatting, but they have different syntax and characteristics. Here's how they are similar and different:



Similarities

- Both .format() and f-strings are used for injecting values into string placeholders, making it easier to create dynamic strings.

- They allow for reordering, formatting, and inserting values into strings.

- They provide formatting capabilities, such as setting decimal places, padding, alignment, and more, using similar syntax within the placeholders.



Differences

- .format() uses placeholders inside the string marked by curly braces { }, which are then replaced by the values or variables passed to the .format() method.

- f-strings use prefixed strings with f or F and incorporate expressions inside curly braces directly within the string.

- f-strings are generally faster than the .format() method.

- f-strings offer improved readability because variables and expressions are embedded directly within the string, making it easier to understand.

In [ ]:
#f-string formatting.

name = 'Jatin'
age = 29
print(f'my name is {name} and i am {age} years old.')

goal = 'competition'
year = 2025
print(f'I will clear the {goal}, at any cost in {year}')

#.formatting() function

print('I am pursuing a course in {}, and i have gained {} from this course' .format('AI and Data Science', 'experience' ))

my name is Jatin and i am 29 years old.
I will clear the competition, at any cost in 2025
I am pursuing a course in AI and Data Science, and i have gained experience from this course

##**rstrip and lstrip function in string.**

In [ ]:
#rstrip- to remove the extra spaces and also to remove the characters from a string.
a = "This is my general..  "
print(a)
print(a.rstrip())           #space removed

This is my general..
This is my general..

In [ ]:
#rstrip- to remove some special characters in a string.
a = '4@'
print(a)
print(a.rstrip('@'))


#lstrip- used to remove the whitespaces from the left side.
a = '         hello world'
print(a)
print(a.lstrip())

#also we can apply both rstrip and lstrip at the same time.
a = '*****hello#####'
print(a)
print(a.rstrip('#').lstrip('*'))

4@
4
         hello world
hello world
*****hello#####
hello

In [ ]:
#count method.
a = 'this is a workbook'
print(a.count('i'))     #simply count the occurence of i while,
print(a.count('i', 5))  #it will check the occurence of i from the index number 5. putput= as we have only one i from 5th location so output is 1.

2
1

In [ ]:
#concatenation and formatting in python.
age = 30
print('I am '+ str(age) + ' years old')
print('I am {0} years old'.format(age))

#formatting with the different variables.
a = 'Data'
b = 'Analysis'
c = 'Python'
print('{0}, {1}, using {2}'.format(a,b,c))

I am 30 years old
I am 30 years old
Data, Analysis, using Python

In [ ]:
#Notes- to find all the function of the string.
help(str)  #will provide the all the list function.

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [ ]:
#Sample Input:

#a = bmaunmdbraai

#Sample Output:

#bandra,mumbai

a = "bmaunmdbraai"
second = a[::2]
print(output)
first = a[1::2]
print(b)
print(f"{first},{second}")

bandra
mumbai
mumbai,bandra

In [ ]:
import ast,sys
input_str = sys.stdin.read()
#Type your code here
 print(message1, message2)

 a = bmaunmdbraai
 message1 = a[::2]
 message2 = a[1::2]
 print(f'{message1},{message2}')

IndentationError: unexpected indent (<ipython-input-42-03c4e1986aa7>, line 4)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
#Type your code here

a = "bmaunmdbraai"
message1 = a[::2]
message2 = a[1::2]
print(f'{message1},{message2}')

bandra,mumbai

In [ ]:
input_str = "hello"
output_str = "".join(dict.fromkeys(input_str))
print(output_str)

helo

In [ ]:
What will be the output of this code?

print(bool(1), bool(-8), bool(1.67), bool(False))

#In Python, bool() returns:
- False for 0, 0.0, None, False, "" (empty string), [] (empty list), {} (empty dictionary), set(), and range(0).

Object `code` not found.
True True True False
In Python, bool() returns: False for 0, 0.0, None, False, "" (empty string), [] (empty list), {} (empty dictionary), set(), and range(0).
True for all other values, including negative numbers and nonzero floats.")

#In Python, bool() returns:
- False for 0, 0.0, None, False, "" (empty string), [] (empty list), {} (empty dictionary), set(), and range(0).
- True for all other values, including negative numbers and nonzero floats.

In [ ]:

Which of these code lines produces a Boolean True output?

len('Python and R are used in data science') > 25
len('Python and R are used in data science') < 25

False

In [ ]:
len('Python and R are used in data science') > 25

True

In [ ]:
print('My name is {} and I am {} years old'.format('John', 30))

My name is John and I am 30 years old

In [ ]:
#print('My name is {John} and I am {30} years old'.format())

In [ ]:
print('My name is %s and I am %d years old' % ('John', 30))

My name is John and I am 30 years old

- Which of these pairs has operators with the same precedence level?

Multiplication and division

Division and subtraction

Addition and multiplication

Addition and division

** Multiplication and Division have the same precedence level.

Operator Precedence (Highest to Lowest in Python):

- ()  Parentheses

- **  Exponentiation

* / // %  Multiplication, Division, Floor Division, Modulus (Same level)
+ -  Addition, Subtraction (Same level)

So, Multiplication (*) and Division (/) have the same precedence level. **

#ques


Evaluate the following arithmetic expressions and choose the correct option which contains the correct computation:

NOTE: You may need to import the math library.

- math.sqrt(25) + (7 ** 3) / 2

- math.factorial(4) / (2 ** 3) - 1

- (10 * (5 - 3) ** 2) / 4
- 3 * ((5 / 2) - math.sqrt(9))
- 6 * (len('Mathematics') % 3 // 2) + 3 ** 2

In [ ]:

#Evaluate the following arithmetic expressions and choose the correct option which contains the correct computation:

#NOTE: You may need to import the math library.
import math

math.sqrt(25) + (7 ** 3) / 2
math.factorial(4) / (2 ** 3) - 1
(10 * (5 - 3) ** 2) / 4
3 * ((5 / 2) - math.sqrt(9))
6 * (len('Mathematics') % 3 // 2) + 3 ** 2

15

In [ ]:
math.sqrt(25) + (7 ** 3) / 2

176.5

In [ ]:
#What will be the output of this print statement?

print(4%100,4//100,4/100)

#Check whether int(14.56) and 44//3 are equal.
print(int(14.56) , 44//3)

x = 7
y = 4
z = 3
result = (x > y) and (y < z) or (z == 3)
print(result)


#What will be the output of the following code?

a = '0'
print(bool(a))

4 0 0.04
14 14
True
True

In [ ]:
def rect(length, breath):
  print(length*breath)
rect(20,40)

800

In [ ]:
def area(base,height):
  print((base*height)/2)
area(20,40)

400.0

In [ ]:
base = input()
height = input()
def area(base,height):
    print((base*height)/2)
area(20,40)

20
40
400.0

##ques
Write a python program to take two inputs from user. You must convert the data type of the inputs to float and then print the division and floor division of converted inputs.



Sample input:

4

5



Sample output:

Division 0.8

Floor Division 0.0

In [ ]:
a = float(input())
b = float(input())
division = a/b
floor_division = a//b
print(division)
print(floor_division)

4
5
0.8
0.0

In [ ]:
a = input()
b = input()
division = float(a/b)
floor_division = float(a//b)
print(division)
print(floor_division)

4
5

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
print("hi", end = " ")
print("how are you", end = " ")

hi how are you

In [ ]:
print("hello")

hello

In [ ]:
a = 100
b = 100
print(a is b)

#and we also check the id(which shows the place of values where python is storing these values)
print(id(a))
print(id(b))

True
10754024
10754024

###**This difference is coming because at the time of launching python it automatically stores the number from -5 to 256 and whenever we are giving any new number other than that then it will always give false if the values or integer goes beyong 256 and below -5**

In [ ]:
a = 1000
b = 1000
print(a is b)

print(id(a))
print(id(b))

False
137668618543888
137668618542800

In [ ]:
#and we also check the id(which shows the place of values where python is storing these values)
print(id(a))
print(id(b))

137668618542992
137668618546448

In [ ]:
#formatting with--  f.string and .format

name = "Jatin"
age = "30"
print("my name is", name, "my age is", age)
print(f'my name is {name}, my age is {age}')
print("my name is {}, my age is {}".format(name,age))

my name is Jatin my age is 30
my name is Jatin, my age is 30
my name is Jatin, my age is 30

In [ ]:
#list

In [ ]:
#string

###Tuple is immutable but here we are changing the values of the list which is inside a tuple, so the id is same for both the tuple otherwise the id could have changed.

In [ ]:
#Tuple
a = (1,2,3,[4, 100, 6])
a[3][1] = 12
a

(1, 2, 3, [4, 12, 6])

In [ ]:
id(a)

138960661874464

In [ ]:
a[3][1] = 23
a

(1, 2, 3, [4, 23, 6])

In [ ]:
id(a)

138960661874464

In [ ]:
#Dictionary
stu_details = {"stuid": [1,2,3,4],
               "name": ["om prakash", "Rohit", "Dipak", "Ram"],
               "sub": ["python", "sql", "Tableau", "Power Bi"]}
stu_details

{'stuid': [1, 2, 3, 4],
 'name': ['om prakash', 'Rohit', 'Dipak', 'Ram'],
 'sub': ['python', 'sql', 'Tableau', 'Power Bi']}

In [ ]:
#if we wanted to delete the keys of the dictionary, or can delete the multiple keys by using "del" keyword
del stu_details["stuid"]                #giving error because i have already deleted it

KeyError: 'stuid'

In [ ]:
stu_details

{'name': ['om prakash', 'Rohit', 'Dipak', 'Ram'],
 'sub': ['python', 'sql', 'Tableau', 'Power Bi']}

In [ ]:
#we can create dictionary like this as well
dict({1:2})

{1: 2}

In [ ]:
#fromkeys method in dict- when i want to create a new dictionary without knowing the values of the key.
new_dict = dict.fromkeys(["sid","sname"])
new_dict

{'sid': None, 'sname': None}

In [ ]:
#now we can add the values
new_dict["sid"] = [1,2,3]
new_dict

{'sid': [1, 2, 3], 'sname': None}

In [ ]:
#to assigning the same values in a dictionary instead of none values;
new_dict = dict.fromkeys(["sid","sname"], "2")
new_dict

{'sid': '2', 'sname': '2'}

In [ ]:
#get and using index can give the same values

In [ ]:
new_dict.get("sid")

'2'

In [ ]:
new_dict["sid"]

'2'

In [ ]:
new_dict.items()

dict_items([('sid', '2'), ('sname', '2')])

In [ ]:
new_dict.keys()

dict_keys(['sid', 'sname'])

In [ ]:
new_dict.values()

dict_values(['2', '2'])

In [ ]:
#deleting by pop method
new_dict.pop("sname")  #giving error because i have deleted this

KeyError: 'sname'

In [ ]:
new_dict

{'sid': '2'}

In [ ]:
new_dict = dict.fromkeys(["sid","sname"], "2")
new_dict

{'sid': '2', 'sname': '2'}

In [ ]:
#if we are wanted to capturing the pop values so that we don't want to remove
new_dict["s_name"] = new_dict.pop("sname")
new_dict

{'sid': '2', 's_name': '2'}

In [ ]:
#if we wanted to add a new key in the existing dictionary then we can do it by using "setdefault"
new_dict.setdefault("smarks")         #it will take by default none as values

In [ ]:
new_dict

{'sid': '2', 's_name': '2', 'smarks': None}

In [ ]:
new_dict["smarks"] = 3

In [ ]:
new_dict

{'sid': '2', 's_name': '2', 'smarks': 3}

In [ ]:
#update method
a = {1:3, 2:4}
b = {1:4, 5:6}      #here in 1 is the same key in both the dict but the priority will go to the second because we wanted to update the values.
a.update(b)
a

{1: 4, 2: 4, 5: 6}

##**Sets**

###because of the unsorted behaviour indexing is not done.

###- so slicing would not work

In [ ]:
#you can add your knowledge as well whenever i will come to see the work again.

In [ ]:
a = {1,2,23,3,4,4,4,5,5,5,5,6,7,8}

In [ ]:
a[1]            #throwing the error. so

TypeError: 'set' object is not subscriptable

In [ ]:
#set is the unordered collection of unique data but here the set is ordered......... WHY???

#But internally it is unsorted


a                       #if we have duplicates values in a list then we can get the distint by typeconversion.

{1, 2, 3, 4, 5, 6, 7, 8, 23}

In [ ]:
#can do, min, max, sorted as well

sorted(a, reverse = True)

[23, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#functions of sets- add, len, sum, pop(here in set pop will remove the random values), difference, symmetric difference, intersection
# isdisjoint(when two sets have no common values), issuperset, union(throwing the values), update(actually doing the union by updating the values)

a.add(20)
print(a)       #we can add one by one element not the multiple elements at one time

{1, 2, 3, 4, 5, 6, 7, 8, 20, 23}

In [ ]:
#although set is mutable but it can only store the immutable values.

a = {1,2,3,4}
#a.add([5,6,7])
a.add((5,6,7))
a

{(5, 6, 7), 1, 2, 3, 4}

In [ ]:
a.clear()      #will give the empty set

In [ ]:
a

set()

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}
set3 = {6,7,8,9,10}

set1.difference(set2)

{1, 2, 3}

In [ ]:
set1.symmetric_difference(set2)  #will remove the comman elements only

{1, 2, 3, 6, 7}

In [ ]:
set1.intersection(set2)

{4, 5}

In [ ]:
set1.difference_update(set2)

In [ ]:
set1          #same as difference

{1, 2, 3}

###**Frozen set- To create a immutable sets.**

In [ ]:
set5 = {1,2,3,4,5}
froz_set = frozenset(set5)
froz_set

frozenset({1, 2, 3, 4, 5})

In [1]:
set6 = {4,5,6}
set5.intersection(set6)        #Gives the intersection of frozen set as well

NameError: name 'set5' is not defined

In [3]:
not(True or False)

False

In [4]:
list1 = [1,2,3]
list1[::-1]
list1.reverse()
list1 = reversed(list1)

In [5]:
list1.append([4, 5])
list1.extend([4, 5])
list1 += [4, 5]

AttributeError: 'list_reverseiterator' object has no attribute 'append'

In [6]:
tup = (1,2)
tup.add("e")

AttributeError: 'tuple' object has no attribute 'add'

In [7]:
set1 = {1,2}
set1.add(10)

In [ ]:
#What does set1.add(10) do?
#1 point
#Removes 10
Adds 10 to the set
Throws an error
Duplicates the set

In [9]:
dic = {1:2}
dic[4]

KeyError: 4

In [10]:
"hello world".find("o")

4

In [11]:
not (True and False)

True

### **Flow Control and Conditional Statement**

In [16]:
#if else
#for
#while
marks = int(input("Enter your marks: "))                              #it will not run untill i convert into integer bcz befor it is a string
if marks<40: print("You have failed the exam.")

Enter your marks: 34
You have failed the exam.

In [17]:
marks = int(input("Enter your marks: "))                              #it will not run untill i convert into integer bcz befor it is a string
if marks<40:
  print("You have failed the exam.")

Enter your marks: 34
You have failed the exam.

In [18]:
marks = int(input("Enter your marks: "))                              #it will not run untill i convert into integer bcz befor it is a string
if marks<40:
  print("You have failed the exam.")
else:
  print("You passed the exam.")

Enter your marks: 45
You passed the exam.

In [ ]:
check = int(input("Enter the number"))
if check%2 ==0:
  print("It is a even number.")
else:
  print("It is a odd number")

### **For Loop**

In [19]:
#iterate- nothing but it's how we are picking the things or elements.
#e.g monkey is eating all the bananas one by one.

import time
company = "Upgrad"
for monkey in company:
  print(monkey)
  time.sleep(1)             #it will sleeping for 1 second to print next iteration.

U
p
g
r
a
d

In [20]:
sales = [2345, 2363, 5844, 6463]
for i in sales:
  print(i*0.01)

23.45
23.63
58.44
64.63

In [21]:
#range
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(53,30,-1))

[53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31]

In [25]:
sales = [2345, 2363, 5844, 6463]
list(range(0,len(sales)))

[0, 1, 2, 3]

In [27]:
for i in range(0,len(sales)):
  print(sales[i])

2345
2363
5844
6463

In [33]:
#ques is- how can we divide sales and profit.
sales = [4565,3233,1212,3321]
profit = [122,322,122,223]
for i in sales:
  for i in profit:
    print(sales[i]/profit[i])

IndexError: list index out of range

In [34]:
sales = [4565,3233,1212,3321]
profit = [122,322,122,223]
for i in range(0,len(sales)):
  print(sales[i]/profit[i])

37.41803278688525
10.040372670807454
9.934426229508198
14.89237668161435

## **Armstrong numbers**

In [36]:
#if the power of the each number is equals to the power of the total number of elements and if the addition of the number is same so it is a armstrong number.
#153 = 1**3 + 5**3+ 3**3 == 153

number = input("Enter the number: ")
length = len(number)
result = 0
for i in number:
  result = result + int(i)**length
print(result)
if result == int(number):
  print("It is a armstrong number.")
else:
  print("It is not a armstrong number.")

Enter the number: 153
153
It is a armstrong number.

In [38]:
#while loop-     Works till the condition is true and this is the example of infinite loop.
#while 1 == 1:
#  print("hi")

In [40]:
#normal loop
coupan = 5
utilized = 0
while utilized<coupan:
  print("total coupan left", coupan-utilized)
  utilized += 1
print("No coupan left")

total coupan left 5
total coupan left 4
total coupan left 3
total coupan left 2
total coupan left 1
No coupan left

In [42]:
number = int(input("Enter the number: "))
result = 1
while number>0:
  result = result*number
  number = number-1
print(result)

Enter the number: 5
120

In [43]:
number = int(input("Enter the number: "))
if number<0:
  print("Factorial of less than zero is not possible.")
else:
  result = 1
  while number>0:
    result = result*number
    number = number-1
  print(result)

Enter the number: 5
120